MIDSCENE_MODEL_API_KEY=
MIDSCENE_MODEL_NAME=
MIDSCENE_MODEL_BASE_URL=
MIDSCENE_MODEL_FAMILY=gpt-5
VMOS_SSH_USER=
VMOS_SSH_HOST=
VMOS_SSH_PORT=
VMOS_SSH_PASSWORD=
VMOS_LOCAL_ADB_PORT=
VMOS_REMOTE_ADB_HOST=
VMOS_REMOTE_ADB_PORT=
